In [1]:
import ete3
import pandas as pd
import numpy as np

In [2]:
t = ete3.Tree('ncbi.tre')

In [3]:
t.show()

In [4]:
taxids = pd.read_csv('allspecies.taxid', delimiter='\t', header=None)

In [5]:
taxids

                                 0        1
0                   Ananas comosus     4615
1       Amaranthus hypochondriacus    28502
2            Asparagus officinalis     4686
3             Arabidopsis thaliana     3702
4             Amborella trichopoda    13333
5          Brachypodium distachyon    15368
6                Brassica oleracea     3712
7                  Cicer arietinum     3827
8                Citrus clementina    85681
9             Capsella grandiflora   264402
10                   Carica papaya     3649
11              Chenopodium quinoa    63459
12       Chlamydomonas reinhardtii     3055
13                Capsella rubella    81985
14                 Citrus sinensis     2711
15  Coccomyxa subellipsoidea C-169   574566
16      Chromochloris zofingiensis    31302
17                   Daucus carota     4039
18               Dunaliella salina     3046
19              Eucalyptus grandis    71139
20             Eutrema salsugineum    72664
21                  Fragaria vesca    57918
22                     Glycine max     3847
23             Gossypium raimondii    29730
24               Helianthus annuus     4232
25                 Hordeum vulgare     4513
26          Kalanchoe fedtschenkoi    63787
27                  Lactuca sativa     4236
28             Linum usitatissimum     4006
29                 Malus domestica     3750
30               Manihot esculenta     3983
31                Mimulus guttatus     4155
32           Marchantia polymorpha     3197
33              Micromonas pusilla    38833
34           Micromonas sp. RCC299   296587
35             Medicago truncatula     3880
36                   Olea europaea     4146
37        Ostreococcus lucimarinus   242159
38                    Oryza sativa     4530
39              Oropetium thomaeum  1148796
40                  Prunus persica     3760
41             Populus trichocarpa     3694
42            Porphyra umbilicalis     2786
43                Ricinus communis     3988
44                 Sorghum bicolor     4558
45                 Setaria italica     4555
46            Solanum lycopersicum     4081
47      Selaginella moellendorffii    88036
48             Spirodela polyrhiza    29656
49               Solanum tuberosum     4113
50                 Theobroma cacao     3641
51                  Vitis vinifera    29760
52                  Zostera marina    29655
53                        Zea mays     4577
54              Arabidopsis lyrata    59689
55                 Cucumis sativus     3659
56                  Musa acuminata     4641
57           Physcomitrella patens     3218
58               Triticum aestivum     4565
59                  Volvox carteri     3067

In [6]:
name2species = pd.read_csv('name2species.csv', header=None)

In [7]:
merged = taxids.merge(name2species, left_on=0, right_on=1)

In [8]:
merged.head()

,key_0,0_x,1_x,0_y,1_y
0,Ananas comosus,Ananas comosus,4615,Acomosus,Ananas comosus
1,Amaranthus hypochondriacus,Amaranthus hypochondriacus,28502,Ahypochondriacus,Amaranthus hypochondriacus
2,Asparagus officinalis,Asparagus officinalis,4686,Aofficinalis,Asparagus officinalis
3,Arabidopsis thaliana,Arabidopsis thaliana,3702,Athaliana,Arabidopsis thaliana
4,Amborella trichopoda,Amborella trichopoda,13333,Atrichopoda,Amborella trichopoda

In [9]:
metadata = pd.read_csv('metaall.csv')

In [10]:
metadata.loc[:,['N', 'N50']]

         N        N50
0   0.0178   11759267
1   0.0001   24364990
2   0.0299  131339754
3   0.0016   23459830
4   0.0539    4927027
5   0.0016   59130575
6   0.0666   40895475
7   0.0930   39989001
8   0.0206   31410901
9   0.1100     112041
10  0.2864    1182040
11  0.0457    3846917
12  0.0365    7783580
13  0.0353   15060676
14  0.2090     250548
15  0.0000    1959569
16  0.0545    3274445
17  0.0824   36610139
18  0.1829     353034
19  0.0736   57472304
20  0.0191   13441892
21  0.0696   29230061
22  0.0265   49893278
23  0.0175   62175169
24  0.0339  178899001
25  0.0544  657224000
26  0.0585    2451343
27  0.0792  257910700
28  0.0505     736746
29  0.1194   37604908
30  0.1491   28119335
31  0.0731   21212587
32  0.0673    1366373
33  0.0095    1183541
34  0.0000    1394110
35  0.0554   49172423
36  0.0970   12567911
37  0.0000     708927
38  0.0004   29958434
39  0.0000    2386382
40  0.0122   27368013
41  0.0258   19465461
42  0.0014     202021
43  0.0390     496528
44  0.0472   68658214
45  0.0119   47253416
46  0.0987   66723567
47  0.0187    1749879
48  0.1174    4924802
49  0.1252   59756223
50  0.0438   34397752
51  0.0329   23006712
52  0.0601     485578
53  0.0144  223902240
54  0.1108   24464547
55  0.0530     993451
56  0.1744   34148863
57  0.0129   17435539
58  0.0108      11426
59  0.0443    2599759

In [11]:
merged = merged.merge(metadata, left_on='0_y', right_on='species')

In [12]:
merged.loc[:, '#Names'] = merged.loc[:,['key_0','1_x']].apply(lambda x: ' - '.join([str(w) for w in x]), axis=1)

In [13]:
# todo select what one actually wants and scale
merged.loc[:,['#Names','N', 'N50']].to_csv('test.csv', sep='\t', index=False)

In [14]:
merged.loc[:,['#Names','N', 'N50']]

                                     #Names       N        N50
0                     Ananas comosus - 4615  0.0178   11759267
1        Amaranthus hypochondriacus - 28502  0.0001   24364990
2              Asparagus officinalis - 4686  0.0299  131339754
3               Arabidopsis thaliana - 3702  0.0016   23459830
4              Amborella trichopoda - 13333  0.0539    4927027
5           Brachypodium distachyon - 15368  0.0016   59130575
6                  Brassica oleracea - 3712  0.0666   40895475
7                    Cicer arietinum - 3827  0.0930   39989001
8                 Citrus clementina - 85681  0.0206   31410901
9             Capsella grandiflora - 264402  0.1100     112041
10                     Carica papaya - 3649  0.2864    1182040
11               Chenopodium quinoa - 63459  0.0457    3846917
12         Chlamydomonas reinhardtii - 3055  0.0365    7783580
13                 Capsella rubella - 81985  0.0353   15060676
14                   Citrus sinensis - 2711  0.2090     250548
15  Coccomyxa subellipsoidea C-169 - 574566  0.0000    1959569
16       Chromochloris zofingiensis - 31302  0.0545    3274445
17                     Daucus carota - 4039  0.0824   36610139
18                 Dunaliella salina - 3046  0.1829     353034
19               Eucalyptus grandis - 71139  0.0736   57472304
20              Eutrema salsugineum - 72664  0.0191   13441892
21                   Fragaria vesca - 57918  0.0696   29230061
22                       Glycine max - 3847  0.0265   49893278
23              Gossypium raimondii - 29730  0.0175   62175169
24                 Helianthus annuus - 4232  0.0339  178899001
25                   Hordeum vulgare - 4513  0.0544  657224000
26           Kalanchoe fedtschenkoi - 63787  0.0585    2451343
27                    Lactuca sativa - 4236  0.0792  257910700
28               Linum usitatissimum - 4006  0.0505     736746
29                   Malus domestica - 3750  0.1194   37604908
30                 Manihot esculenta - 3983  0.1491   28119335
31                  Mimulus guttatus - 4155  0.0731   21212587
32             Marchantia polymorpha - 3197  0.0673    1366373
33               Micromonas pusilla - 38833  0.0095    1183541
34           Micromonas sp. RCC299 - 296587  0.0000    1394110
35               Medicago truncatula - 3880  0.0554   49172423
36                     Olea europaea - 4146  0.0970   12567911
37        Ostreococcus lucimarinus - 242159  0.0000     708927
38                      Oryza sativa - 4530  0.0004   29958434
39             Oropetium thomaeum - 1148796  0.0000    2386382
40                    Prunus persica - 3760  0.0122   27368013
41               Populus trichocarpa - 3694  0.0258   19465461
42              Porphyra umbilicalis - 2786  0.0014     202021
43                  Ricinus communis - 3988  0.0390     496528
44                   Sorghum bicolor - 4558  0.0472   68658214
45                   Setaria italica - 4555  0.0119   47253416
46              Solanum lycopersicum - 4081  0.0987   66723567
47       Selaginella moellendorffii - 88036  0.0187    1749879
48              Spirodela polyrhiza - 29656  0.1174    4924802
49                 Solanum tuberosum - 4113  0.1252   59756223
50                   Theobroma cacao - 3641  0.0438   34397752
51                   Vitis vinifera - 29760  0.0329   23006712
52                   Zostera marina - 29655  0.0601     485578
53                          Zea mays - 4577  0.0144  223902240
54               Arabidopsis lyrata - 59689  0.1108   24464547
55                   Cucumis sativus - 3659  0.0530     993451
56                    Musa acuminata - 4641  0.1744   34148863
57             Physcomitrella patens - 3218  0.0129   17435539
58                 Triticum aestivum - 4565  0.0108      11426
59                    Volvox carteri - 3067  0.0443    2599759

In [15]:
t = ete3.ClusterTree('ncbi.mod.tre', text_array='test.csv')
ts = ete3.TreeStyle()
ts.show_leaf_name = True

In [16]:
t.show("heatmap", tree_style=ts)